{#
/**
 * @file
 * lst layout tabs horizontal.
 */
#}
{% if content and not in_preview %}
  {% if settings.edge_to_edge_bg %}{{ content.media_bg }}{% endif %}
  <div{{ attributes }}>
    {% if not settings.edge_to_edge_bg %}{{ content.media_bg }}{% endif %}
    <div{{ content['#row_attributes'] }}>
      {% set content_top_render = content.top|render %}
      <div class="tabs-horizontal">
        <section id="showDetailTab" class="mt-5">
          <div {{ content['#customize_tabs_col_attributes'] }}>
            <div {{ region_attributes.top.addClass(content['#customize_tabs_class']) }}>
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  {% for tab_id, tab_content in tabs.options %}
                    {% if tab_content %}
                      <a
                        class="nav-item nav-link {% if tab_id == content.default_tab or (loop.first and content.default_tab is empty) %}active{% endif %}"
                        id="{{ 'nav-' ~ loop.index ~ '-tab' }}"
                        data-toggle="tab" href="{{ '#nav-' ~ loop.index }}"
                        role="tab" aria-controls="nav-home" aria-selected="true"
                        data-target="{{ '#nav-' ~ loop.index }}">{{ tab_content }}</a>
                    {% endif %}
                  {% endfor %}
                </div>
              </nav>
            </div>
          </div>
          <div class="tab-content" id="nav-tabContent">
            {% for tab_id, tab_content in tabs.options %}
              {% for regionKey, region in content %}
                {% if regionKey == tab_id %}
                  {% if tab_content %}
                    <div
                      class="tab-pane fade {% if tab_id == content.default_tab or (loop.first and content.default_tab is empty) %}show active {% else %} hide {% endif %}"
                      id="{{ 'nav-' ~ loop.index }}" role="tabpanel"
                      aria-labelledby="nav-{{ loop.index }}-tab">
                      {% set content_region_render = region|render %}
                      {% if content_region_render|trim %}
                        <div class="tap-mob-heading">
                          <a
                            href="{{ '#nav-' ~ loop.index }}">{{ tab_content }}</a>
                        </div>
                        <div class="tabpane-inner-content">
                          {{ content_region_render }}
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </section>
      </div>
    </div>
  </div>
{% elseif content and in_preview %}
  {% for regionKey, region in content %}
    {% if region_attributes[regionKey] is defined and regionKey is not same as('top') and regionKey is not same as('bottom') %}
      {% set content_region_render = region|render %}
      {% if content_region_render|trim %}
        <div {{ content['#' ~ regionKey ~ '_col_attributes' ] }}>
          <div {{ region_attributes[regionKey].addClass(content['#' ~ regionKey ~ '_class']) }}>
            {{ content_region_render }}
          </div>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}
