/* General */
#showDetailTab {
  position: relative;
}
#showDetailTab nav {
  box-shadow: 0 0 5px #ddd;
}
#showDetailTab .nav-tabs {
  position: relative;
  display: flex;
}
#showDetailTab .nav-tabs a {
  flex-grow: 1;
  border-radius: 0px;
  background: #8e182e !important;
  border: 1px solid #fff;
  color: #000;
  font-size: 1em;
  font-weight: 300;
  padding: 20px;
  text-align: center;
  transition: all ease-out 0.3s;
}
#showDetailTab .nav-tabs a:hover {
  background-color: #cc0033;
}
#showDetailTab .nav-tabs a.active {
  background: tan;
  border: 1px solid tan;
  color: #fff;
}
#showDetailTab .tab-content {
  position: relative;
  box-shadow: 0 0 5px #ddd;
  padding: 20px;
  background: #fff;
}
#showDetailTab .tab-content .tab-pane {
  position: relative;
}
#showDetailTab .tab-content .item h6 {
  text-transform: uppercase;
  color: #858585;
  margin: 0px;
  font-size: 0.8rem;
}
#showDetailTab .tab-content .item p {
  font-size: 0.75rem;
}
#showDetailTab .tab-content .item p a {
  font-size: 0.75rem;
}
#showDetailTab .tab-content .item textarea {
  font-size: 0.75rem;
}
#showDetailTab .tab-content .item textarea {
  font-family: 'Lato', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #000;
  min-height: 60px;
}
#showDetailTab .tab-content .item .desc-txt {
  padding: 6px 40px 0px 0px;
  line-height: 1.6rem;
}
#showDetailTab .tab-content .item .desc-txt p,
#showDetailTab .tab-content .item .desc-txt span,
#showDetailTab .tab-content .item .desc-txt li,
#showDetailTab .tab-content .item .desc-txt b,
#showDetailTab .tab-content .item .desc-txt strong,
#showDetailTab .tab-content .item .desc-txt div,
#showDetailTab .tab-content .item .desc-txt small,
#showDetailTab .tab-content .item .desc-txt * {
  color: #000 !important;
  font-size: 0.75rem;
  font-weight: 400 !important;
}
#showDetailTab .tap-mob-heading {
  display: none;
}
@media screen and (max-width: 768px) {
  #showDetailTab {
    margin-top: 80px !important;
  }
  #showDetailTab nav {
    display: none;
  }
  #showDetailTab .tab-content {
    padding: 0px;
  }
  #showDetailTab .tab-content .tab-pane {
    display: block;
    opacity: 1;
    padding: 0px;
    margin-top: 46px;
  }
  #showDetailTab .tab-content .tab-pane .tap-mob-heading {
    position: absolute;
    top: -46px;
    left: 0px;
    right: 0px;
    display: block;
    width: 100%;
    height: auto;
    clear: both;
  }
  #showDetailTab .tab-content .tab-pane .mob-tabpane-toggler {
    position: relative;
    display: block;
    padding: 15px;
    background: #f1f1f1;
    border: 1px solid #fff;
    color: #000;
  }
  #showDetailTab .tab-content .tab-pane .mob-tabpane-toggler:hover {
    background: tan;
    color: #fff;
  }
  #showDetailTab .tab-content .tab-pane .tabpane-inner-content {
    height: 0px;
    overflow: hidden;
    transition: all ease-out 0.3s;
  }
  #showDetailTab .tab-content .tab-pane.show {
    padding: 15px;
  }
  #showDetailTab .tab-content .tab-pane.show .tabpane-inner-content {
    display: block;
    height: auto;
  }
  #showDetailTab .tab-content .tab-pane.show .mob-tabpane-toggler {
    background: tan;
    color: #fff;
  }
}
